<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">

    <!-- Section: Social media -->
    <section class="d-flex justify-content-center p-4 border-bottom social">
      <div>
        <a href="mailto:yuri.chiucconi@exact-lab.it" class="me-4 text-reset">
            <i class="fa-solid fa-envelope"></i>
        </a>
        <a href="https://www.linkedin.com/in/yuri-chiucconi-25003519b/" class="me-4 text-reset">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/ychiucco" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://gitlab.com/YuriChiucconi" class="me-4 text-reset">
            <i class="fab fa-gitlab"></i>
        </a>
        <a href="https://stackoverflow.com/users/12932447/" class="me-4 text-reset">
          <i class="fab fa-stack-overflow"></i>
        </a>
        <a href="https://www.chess.com/member/ychiucco" class="me-4 text-reset">
            <i class="fa-solid fa-chess-knight"></i>
        </a>
        <a href="https://t.me/ychiucco" class="me-4 text-reset">
          <i class="fa-brands fa-telegram"></i>
        </a>
      </div>
    </section>
    <!-- Section: Social media -->
  
    <!-- Copyright -->
    <div class="text-center p-4 copyright" style="font-family: fantasy;">© 2023 Yuri Chiucconi</div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->