$font-stack: sans-serif;
$background-color: rgb(227, 227, 227);
$external-col-color: white;
$navbar-background-color: black;
$navbar-color: white;

.main-wrapper {
    font-family: $font-stack;
    height: 100vh;  
    background-color: $background-color;
}

.col-2 {
    background-color: $external-col-color;
}

a.me-4 { /* remove underline from footer social icons */
    text-decoration: none;
}
 
.navbar {
    background-color: $navbar-background-color;
    color: $navbar-color;
}
.dropdown-toggle{
    color: $navbar-color;
}

.social {
    background-color: $navbar-background-color;
    color: $external-col-color;
}

.copyright {
    background-color: $background-color;
}
