<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<!-- CSS -->
		<link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
		<link rel="stylesheet" href="{{ '/assets/css/chessboard-1.0.0.css' | relative_url }}">
		<!-- JS -->
		<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
		<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
		<script src="{{ '/assets/js/chessboard-1.0.0.js' | relative_url }}"></script>
	</head>
	<body>
		{% include navigation.html %}
		{{ content }}

		<footer>
			<p>&copy; 2023 Yuri Chiucconi. All rights reserved.</p>
		</footer>
	</body>
</html>
